{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Location index</h1>

        <div class="table-responsive mb-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for location in locations %}
                    <tr>
                        <td>{{ location.id }}</td>
                        <td>{{ location.city }}</td>
                        <td>{{ location.country }}</td>
                        <td>{{ location.latitude }}</td>
                        <td>{{ location.longitude }}</td>
                        <td>
                            <a href="{{ path('app_location_show', { id: location.id }) }}">show</a> |
                            <a href="{{ path('app_location_edit', { id: location.id }) }}">edit</a> |
                            <a href="{{ path('app_measurement_index', { locationId: location.id }) }}">View Measurements</a> |

                            <form method="post" action="{{ path('app_location_delete', { id: location.id }) }}" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this location?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ location.id) }}">
                                <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mb-4">
            <a href="{{ path('app_location_new') }}" class="btn btn-primary">Create new</a>
        </div>
    </div>
{% endblock %}
